/* src/Home.css */
.home-container {
  display: flex;
}

.controls {
  margin: 10px;
}

.flow-container {
  height: 90vh;
  flex-grow: 1;
  border: 1px solid #ddd;
}

.custom-node {
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.delete-icon:hover {
  color: red;
}


.popup-window {
  position: absolute;
  top: 50%;
  left: 100%;
 background-color:white;
 border: 2px solid gray;
 border-radius: 10px;
  height: 200px;
  min-width: 400px;
 
}

.popupButton {
  background: none ;
  border-style: none;
  font-size: 25px;
  cursor: pointer;
}